@mixin halfContents{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/******************************************************/

/* MEDIA QUERIES  */

/********************************************************/
// Media Query
$breakpoint-mobile          : 425px;
$breakpoint-tablet          : 768px;
$breakpoint-desktop         : 1024px;
$breakpoint-desktop-large   : 1200px;
$breakpoint-desktop-XL   : 1920px;

@mixin desktop-XL {
    @media (min-width: $breakpoint-desktop-XL) {
        @content;
    }};
@mixin desktop-large {
    @media (min-width: $breakpoint-desktop-large) {
        @content;
    }};
@mixin desktop {
@media (min-width: $breakpoint-desktop) {
    @content;
}};


@mixin tablet {
    @media (min-width: $breakpoint-tablet) {
        @content;
    }};
