/********************************************

PROJECT PAGE

********************************************/

.project-container {
    height: 100vh;
}

.project-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}